In [4]:
def square(num):
    return num**2

In [5]:
my_nums = [1,2,3,4,5]

In [12]:
for item in map(square,my_nums): #pass in the function you want to map to a list
    print (item)

1
4
9
16
25

In [13]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [14]:
def splicer(mystring):
    if len(mystring)%2 == 0:
        return 'EVEN'
    else:
        return mystring[0]

In [15]:
names = ['Andy','Eve','Sally']

In [17]:
list(map(splicer,names))

['EVEN', 'E', 'S']

In [19]:
def check_even(num):
    return num%2 == 0

In [20]:
mynums = [1,2,3,4,5,6]

In [22]:
list(filter(check_even,mynums))

[2, 4, 6]

In [24]:
for n in filter(check_even,mynums):
    print(n)

2
4
6

In [27]:
def square(num):
    result = num ** 2
    return result

In [28]:
def square (num):
    return num ** 2

In [29]:
def square(num): return num **2

In [30]:
square = lambda num: num ** 2 #this is now a lamba expression, but you typically don't name them

In [31]:
list(map(lambda num:num**2, mynums))

[1, 4, 9, 16, 25, 36]

In [32]:
list(filter(lambda num:num%2 == 0, mynums))

[2, 4, 6]

In [33]:
names

['Andy', 'Eve', 'Sally']

In [35]:
list(map(lambda name:name[0],names))

['A', 'E', 'S']

In [36]:
list(map(lambda name:name[::-1],names))

['ydnA', 'evE', 'yllaS']