## Useful Operators

**Range function**

Python has an automated function for this since it is so common for iteration. Let's explore how those look:

In [2]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [3]:
for num in range(3, 10): #here we can add a starting range
    print(num)

3
4
5
6
7
8
9

In [5]:
for num in range(0, 11, 2): #here we can add a step size
    print(num)

0
2
4
6
8
10

But what if I want to actually make a list instead of just iterate through a range? Well, cast it to a list like so.

In [6]:
list(range(0,11,2)) #this will return the list [0,2,4,6,8,10]

[0, 2, 4, 6, 8, 10]

**Innumerate Function**

In [13]:
index_count = 0 

for letter in 'abcde':
    print(f'At index {index_count} the letter is {letter}.')
    index_count+=1

At index 0 the letter is a.
At index 1 the letter is b.
At index 2 the letter is c.
At index 3 the letter is d.
At index 4 the letter is e.

In [14]:
word = 'abcde'

for item in enumerate (word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

What is happening here is that the enumerate function essentially is doing the index function from above in the form of tuples. We can use tuple unpacking to make these even more useful.

In [16]:
word = 'abcde'

for index,letter in enumerate (word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

**Enumerate function** can take in any iterable object and returns some sort of index counter and then the object associated with it.

Let's move on to the **Zip Function**.

Think of it as something almost opposite of enumerate. It zips togeter two lists.

In [19]:
mylist1 =[1,2,3]
mylist2 =['a','b','c']
mylist3 =[100,200,300]

In [21]:
for item in zip(mylist1,mylist2,mylist3): #zip will only zip together as far as the shortest list. It will ignore extra.
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [22]:
list(zip(mylist1,mylist2,mylist3)) #cast to actually get the new list

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [24]:
for a,b,c in zip(mylist1,mylist2,mylist3): #we can use unpacking here too. 
    print(b)

a
b
c

**The IN operator**

This helps us easily check if an object is in a list.

In [25]:
'x' in [1,2,3]

False

In [27]:
'x' in ['x','y','z']

True

In [28]:
2 in [1,2,3] #works with numbers too

True

In [29]:
'a' in 'a world ' #can check strings as well.

True

In [30]:
'mykey' in {'mykey':223} #this also works in dictionaries for _keys_

True

d ={'mykey':223} 

223 in d.values() #checks for values, can do same for keys

Let's talk about **min-max functions.**

In [34]:
mynumlist=[10,20,30,40,50,60,100]

In [35]:
min(mynumlist)

10

In [37]:
max(mynumlist)

100

**UWAGA** do not use Min or Max as variable words since they already functions.

The **Random Library**

We will need to import functions from a library here.

In [38]:
from random import shuffle #tabing here will show all the functions we can call from Random, we will use shuffle.

In [39]:
myshufflelist = [1,2,3,4,5,6,7,8,9,10]

In [46]:
shuffle(myshufflelist) #this does not return anything, it only changes things in an existing list. It is an inplace function

In [43]:
myshufflelist

[4, 7, 1, 3, 6, 2, 10, 8, 9, 5]

In [44]:
shuffle(myshufflelist) #we can change it again too

In [45]:
myshufflelist

[5, 3, 2, 1, 10, 8, 9, 7, 4, 6]

In [47]:
from random import randint

In [48]:
randint(0,100) #Return random integer in range [a, b], including both end points.

84

In [50]:
randint(0,100) #since it returns, we can save this actually.

44

In [51]:
mynum=randint(0,10)

In [52]:
mynum

10

In [56]:
input('Enter a number here: ') #this will prompt the user for input and potentially save it.

Enter a number here: 50

'50'

In [57]:
result1 = input('what is your name?') #it will always accept this as a string. Even numbers

what is your name?Darek

In [58]:
result1

'Darek'

In [59]:
result2 = input('what is your favorite number? ')

what is your favorite number? 16

In [60]:
result2

'16'

In [61]:
float(result2)

16.0

In [63]:
int(result2) #you can do this in one line if you want.

16

In [64]:
result3 = int(input('what is your favorite number? '))

what is your favorite number? 30

In [65]:
result3

30