## List Comprehensions 

These are quick ways of creating a list within python. 

This is a good alternative to using a `for` loop along with `.append()` to create a list .

Let's look at how this works:

In [1]:
mystring = 'hello'

In [2]:
mylist = [] #let's start off with how to do this with a for loop and append. 

for letter in mystring:
    mylist.append(letter)

In [3]:
mylist

['h', 'e', 'l', 'l', 'o']

**How can we do the same thing, but with fewer lines of code?**

In [4]:
mylist = [letter for letter in mystring] #element for element in some iterable list, this is the comprehension

In [6]:
mylist #this is just a flattened out for loop

['h', 'e', 'l', 'l', 'o']

In [10]:
mylist = [x for x in 'word'] #just like a for loop, `x` here is a temporary variable name, we can call it whatever we want

#elements needs to match

In [11]:
mylist

['w', 'o', 'r', 'd']

In [12]:
mylist = [num for num in range(0,11)] #can flatten out the for loop too

In [13]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

**We can even begin to perform operations on the first variable name in this flattened our for loop**

In [18]:
mylist = [num**2 for num in range(0,11)] #this essentially appends whatever the first variable happens to be. 

#think of the first variable as the appended variable within the unflatted for loop

In [19]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [20]:
mylist = [x for x in range(0,11) if x%2==0] #we can also add if statements into this

#this will only add in even numbers

In [21]:
mylist

[0, 2, 4, 6, 8, 10]

In [24]:
mylist = [x**2 for x in range(0,11) if x%2==0] #squares of even numbers only

In [25]:
mylist

[0, 4, 16, 36, 64, 100]

In [26]:
celcius = [0,10,20,34.5]

fahrenheit = [((9/5)*temp + 32) for temp in celcius] #this will conver the celcius temps to F

In [27]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [28]:
fahrenheit = [] #this should be the same thing

for temp in celcius:
    fahrenheit.append((9/5)*temp + 32)

In [29]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

**UWAGA** Slick one liners are cool, but remember that readability is the singular most important thing for pythonistas. 

`if/elif/else` statements can be done with list comprehensions, but it isn't super common becauase of the readability issues associated with it. 

Here are examples of it, but it's probably best to use the unflattened version of `if/elif/else` statements.

**Remember** Be kind to your future self.

In [30]:
results = [x if x%2==0 else 'ODD' for x in range(0,11)] #this is essentially reversed than the list comprehensions above

In [31]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

**Nested Loops** can also be done as comprehensions, but again, take it easy at the beginning.

In [34]:
mylist = []

for x in [2,4,6]:
    for y in [1,10,1000]:
        mylist.append(x*y)

In [35]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [36]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]

In [37]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]